<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style_registrazione.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Ristorante fantasia</h1>
    <div>Accedi</div>
    <form id="form-registrazione">
        <div id="row">
            <label>Nome</label>
            <input type="text" id="nome" placeholder="Nome" required>
            <label>Cognome</label>
            <input type="text" id="cognome" placeholder="Cognome" required>
        </div>
        <div id="row">
            <label>Email</label>
            <input type="email" id="email" placeholder="email" required>
            <label>Telefono</label>
            <input type="text" id="telefono" placeholder ="numero di telefono"required>
        </div>
        <div id="row">
            <label>Username</label>
            <input type="text" id="username" placeholder="nome utente" required>
            <label>Password</label>
            <input id="password" type="password" placeholder="password" required>
        </div>
        <div id="row">
            <button type="submit">Registrati!</button>
        </div>
    </form>
    <script src="{{url_for('static', filename='registrazione.js')}}"></script>
</body>
</html>